@import url('https://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');


/********* Common css **********/

body {
    font-family: 'Raleway', sans-serif;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    color: #303030;
}



.main-container.container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.container {
    width: 1366px;
    max-width: 100%;
    margin: 0 auto;

}

.navbar.container {
    width: 1366px;
    max-width: 100%;
}

.fs18{
    font-size:18px;
}

.fs20 {
    font-size: 20px;
}

.rmedium{
    font-weight: 500;
}

a, p, span{
    font-size: 14px;
}

.rsemibold {
    font-weight: 600;
}

.rnormal, .rmedium, .rsemibold, .rbold, .rexbold {
    font-family: 'Raleway', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s ease all;
  
}

.btn {
    transition: 0.5s ease all;
    font-size: 14px;
    color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    height: 38px;
    border-radius: 5px;
    max-width: 100%;
}

.flex{
    display: flex;
}

.rbold {
    font-weight: 700;
}
/********* Common css **********/

/********** Services below hp banner desktop  **********/

.view-id-tad_features .view-content {
    display: flex;
    background: #fff;
    padding: 30px 40px 25px;
    justify-content: space-between;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 10px;
    box-shadow: 0px 8px 34.4px 5.6px rgba(0, 0, 0, 0.05);
}

.view-id-tad_features .view-content .field-content {
    display: flex;

}

.view-id-tad_features .view-content .field-content .img-area {
    margin-right: 20px;
}

.view-id-tad_features .view-content .field-content .txt-area h4 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    line-height: 1.3;
}

.view-id-tad_features .view-content .field-content .txt-area p {
    font-size: 13px;
    max-width: 275px;
    line-height: 18px;
}

.view-id-tad_features .view-content .views-row {
    padding-right: 15px;
}

.view-id-tad_features .view-content .views-row:last-child {
    padding-right: 0;
}

/********** Services below hp banner desktop ends **********/

/********** Footer desktop **********/

.region-footer {
    display: flex;
    justify-content: space-between;
    padding: 0 105px 0;
}

.footer-col h4 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
}

.footer-col .logo-area {
    margin-bottom: 10px;
}

.footer-contact .footer-link {
    position: relative;
    padding-left: 20px;
    color: #aaaaaa;
}


/********** Footer desktop ends **********/

/********** Foundation and Advanced courses desktop ***********/

.section-header {
    text-align: center;
}

.section-header h4 {
    color: #822F24;
    position: relative;
    padding-bottom: 23px;
    margin-bottom: 25px;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 700;
}

.section-header h4:after {
    content: "";
    width: 60px;
    height: 3px;
    position: absolute;
    background: #822f23;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.section-header p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 14px;
    color: #676767;
    line-height: 1.5;
}


/********** Foundation and Advanced courses desktop ends ***********/

/********** Get a callback desktop *********/

.red-bar-row {
    margin: 0 -15px;
    background: url(../images/shinybg.png) no-repeat center;
    height: 100%;
    background-size: 100% 100%;
    align-items: center;
}

/********** Get a callback desktop ends *********/

/********** desktop styling ends **********/

/********** responsive styling starts *********/

/********** Services below hp banner 1024 **********/

@media only screen and (max-width: 1024px) {
    .view-id-tad_features .view-content {
        margin-left: 0;
        margin-right: 0;
    }
}

/********** Services below hp banner 1024 ends **********/

/********** Services below hp banner 767 **********/

@media only screen and (max-width: 767px) {
    .view-id-tad_features .view-content {
        flex-direction: column;
        padding: 0 20px;
        border-radius: 10px;
        box-shadow: 0px 8px 34.4px 5.6px rgba(0, 0, 0, 0.05);
        background: #fff;
    }

    .view-id-tad_features .view-content .views-row {
        padding: 15px 0;
        border-bottom: 1px solid #f0f0f0;
        background: #fff;
        border-radius: 0;
        box-shadow: none;
        align-items: center;
    }

    .view-id-tad_features .view-content .field-content .txt-area p {
        display: none;
    }

    .view-id-tad_features .view-content .field-content .txt-area h4 {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .view-id-tad_features .view-content .field-content {
        align-items: center;
    }
    .view-id-tad_features .view-content .field-content .img-area img {
        max-width: 45px;

    }
}

/********** Services below hp banner 767 ends **********/


.view.view-highlights-of-our-courses .view-content {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    text-align: center;
    
}

.highlight-course-item {
    padding: 0 15px;
}

.highlight-course-item .field-content img{
    display: table;
    margin: auto;
    margin-bottom: 20px;
}

.highlight-course-item .field-content h4{
    margin-bottom: 5px;
    width: 143px;
    line-height: 1.4;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}

.highlight-course-item .field-content p{
    max-width: 240px;
    margin: 0 auto;
    line-height: 1.5;
}

.highlights-of-courses-row{
    padding: 85px 170px !important;
}

.meet-mentors-row{
    padding: 85px 125px 60px !important;
}

.view.view-meet-your-mentors .view-content {
    display: flex;
    justify-content: center;
    padding: 35px 0 55px;
    text-align: center;  
}

.view.view-meet-your-mentors .view-content .views-row{
    margin-right:30px;
    display: block; 
}

.view.view-meet-your-mentors .view-content .views-row:last-child {
    margin-right: 0;
}

.mentor .imgArea img {
    border-radius: 20px;
}

.mentor .txtArea {
    padding: 15px;
    box-shadow: 0px 8px 34.4px 5.6px rgba(0, 0, 0, 0.05);
    max-width: 88%;
    margin: 0 auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.txtCenter {
    text-align: center;
}

.mentorName {
    margin-bottom: 7px;
    display: inline-block;
    cursor: auto;
}

.fs13 {
    font-size: 13px;
}

.mentorOrg {
    color: #aaaaaa;
    margin-bottom: 12px;
}

.mentorSocial a {
    color: #fff;
    background: #dfd2d2;
    height: 18px;
    width: 18px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.btn-red, .btn-red:focus, .btn-red:active, .btn-red:not(:disabled):not(.disabled).active, .btn-red:not(:disabled):not(.disabled):active {
    border: 1px solid #b33427;
    width: 180px;
    background-image: -moz-linear-gradient( 90deg, rgb(179,52,39) 0%, rgb(210,62,47) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(179,52,39) 0%, rgb(210,62,47) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(179,52,39) 0%, rgb(210,62,47) 100%);
}

.btn-red:hover {
    color: #fff;
}

.shinyBgDiv {
    justify-content: center;
    align-items: center;
    padding: 30px 15px;
}

.shinyBgDiv p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.btnTrans {
    overflow: hidden;
    position: relative;
    border: 1px solid #fff;
    width: 180px;
    max-width: 100%;
    padding: 7px 0;
    margin-left: 35px;
}

